p {
	margin-top: 0;
	margin-bottom: 0;
}

.break {
	margin: 15px;
	text-align: left;
}

.start {
	text-align: center;
	margin-top: 15px;
}

.work {
	float: right;
	margin: 15px;
	text-align: right;
}

.timer {
	width: 280px;
	margin-top: 40px;
	text-align: center;
	border: 1px solid black;
	border-radius: 8px;
	background-color: gray;
}

.clock {
	width: 250px;
	height: 250px;
	line-height: 250px;
	margin: 15px;
	border: 1px solid black;
	border-radius: 50%;
	background-color: red;
	box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
}

#display {
    line-height: 250px;
}

